<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Results</title>
    <link rel="stylesheet" href="{{url_for('static',filename='filteredtable.css')}}">
</head>

<body>
    <h1>Complete information about courses and faculty</h1>

    <table border=1>
        <tr>
            <th>CourseID</th>
            <th>Course Name</th>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Faculty ID</th>
            <th>Faculty Name</th>
            <th>Semester</th>
            <th>Day</th>
            <th>Timings</th>
            <th>Room NO</th>
        </tr>

        {% for i in range(length) %}
        <tr>
            {% for j in range(10) %}
            <td>{{ result[j][i] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>



    <div class="back">
        <a href="{{ url_for('index')}}">Back to Home page</a>
    </div>

</body>

</html>